* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
  font-weight: 400;
  font-size: 12px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  scroll-behavior: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  color: #64ffda;
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid #64ffda;
  border-radius: 2px;
  text-decoration: none;
  letter-spacing: 1px;

  &-contact {
    background-color: transparent;
    padding: 10px 20px;
    display: inline-block;
    border-image: conic-gradient(
        from var(--angle),
        var(--c2),
        var(--c1) 0.1turn,
        var(--c1) 0.15turn,
        var(--c2) 0.25turn
      )
      15;
    animation: borderRotate var(--d) linear infinite forwards;
  }

  &-resume {
    color: #64ffda !important;
    padding: 6px 10px;
    font-size: 14px;
    border-image: conic-gradient(
        from var(--angle),
        var(--c2),
        var(--c1) 0.1turn,
        var(--c1) 0.15turn,
        var(--c2) 0.25turn
      )
      15;
    animation: borderRotate var(--d) linear infinite forwards;

    &:hover {
      background-color: #ccd6f6;
      color: #0a192f !important;
      // border: 1px solid #fff;
    }
  }
}

.section-title {
  font-size: 30px;
  font-weight: 500;
  color: #ccd6f6;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  //   position: relative;

  @include breakpoint(mobile-max) {
    flex-direction: column;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;

    @include breakpoint(mobile-max) {
      width: 225px;
      top: 10px;
      // margin-left: 0;
    }
  }
}

.section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

/* when visible */
.section.visible {
  opacity: 1;
  transform: translateY(0);
}
