.start,.stop,.restart{
    border: none;
    margin: 5px;
}

.start{
    background-color: red;
    width: 50px;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}

.stop{
    background-color: green;
    width: 50px;
    color: #fff;
    padding: 5px;
    font-size: 12px;

}

.restart{
    background-color: red;
    width: 50px;
    color: #fff;
    padding: 5px;
    font-size: 12px;

}